---
import ChartComponent from '../components/ChartComponent.astro';
---

<html lang="en">
  <head>
    <title>Astro + Chart.js Example</title>
  </head>
  <body>
    <h1>Chart.js Graph Example</h1>
    <ChartComponent />
  </body>
</html>
